---
import Greeting from '../components/Greeting';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Blog sub</h2>
	<Greeting client:load messages={["Hi", "No"]}></Greeting>
</BaseLayout>