---

---

<div class="nav-links">
    <a transition:animate="slide" href="/">Home</a>
    <a transition:animate="slide" data-astro-reload href="/about">About</a>
    <a transition:animate="slide" href="/blog">Blog</a>
    <a transition:animate="slide" href="/tags">Tags</a>
</div>
